*{
	margin: 0;
	padding: 0;
font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Ultra Light'), local('Gilroy-Ultra-Light'),
        url('Gilroy-UltraLight.woff2') format('woff2'),
        url('Gilroy-UltraLight.woff') format('woff'),
        url('Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  header{
  	    border-bottom: 1px solid silver;
  }
.container{
	max-width: 1326px;
	margin: 0 auto;
}
.nav-ul__item-link{
	font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #484848;
display: flex;
align-items: center;

}
.nav-ul__item{
	margin-left: 35px;
}
.nav-ul__item-img{
	padding-bottom: 2px;
	padding-left: 18px;
}
.header__inner{
	display: flex;
	align-items: center;
	padding-top: 38px;
	padding-bottom: 38px;
}
.header__menu{
margin-left: auto;
}
.nav-ul{
	display: flex;
}
.main-circus{
background: #F8F9FA;

    overflow-x: hidden;

}
a{
	color: black;
}

.main-circus__inner {
	font-family: Gilroy;
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 127px;
display: none;
/* identical to box height */

letter-spacing: 0.05em;

color: #200E32;
display: flex;
justify-content: space-between;
}
.main-circus__left {
   padding-top: 88px;
   padding-bottom: 86px;
	max-width: 711px;
	  position: relative;

  background-repeat: no-repeat;
}
.main-cicus__left-bc{
	background-image: url('../img/border.png');background-repeat: no-repeat;min-height: 335px;padding-left: 35px;
}
.main-circus__title {
	font-family:Montserrat;
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 127px;
padding-top: 20px;
/* identical to box height */

letter-spacing: 0.05em;

color: #200E32;
}
.main-circus__text {
	font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 41px;
/* identical to box height */

letter-spacing: 0.03em;
text-transform: uppercase;

/* 2 */

color: #69707E;
}
.main-circus__button {

	display: block;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #F2F6FD;
width: 237px;
height: 59px;
border-radius: 4px;
text-align: center;
padding: 16px;
letter-spacing: 0.05em;
margin-top: 55px;
background: #C9A945;
/* 2 */

box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.04);
border-radius: 4px;
}
.main-circus__right {
	max-width: 449px;
	margin-top: 62px;
}
.main-circus__right-content{
	position: relative;
	min-width: 569px;
	min-height: 461px;
}
.main-circus__right-bg{
	position: absolute;
}
.circus{
		left: 0;
	top: 56px;
	z-index: 111;
}
.circus-2{
    top: 57px;
    right: 48px;
	z-index: 1111111;
}
.circus-3{
	top: 149px;
	left:162px;
	z-index: 0;
}
.circus-4{
bottom: 42px;
    left: 54px;

	z-index: 111111;
}
.news{
	margin-top: 82px;
	    padding-bottom: 400px;

    overflow-x: hidden;

}
.news__inner {
}
.news__title {
		display: flex;
	justify-content: space-between;
}
.news__title-h3 {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.03em;

color: #200E32;
}
.news__title-info {
}
.news__title-info-link {
	margin-left: 33px;

font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #1C1E23;
}
.active--line{padding-bottom: 5px;
    border-bottom: 2px solid #C9A945;
    margin-left: 0;
}
.news__main-content {
	margin-top: 66px;
		display: flex;
	justify-content: space-between;

}
.news__main-content-right {
    background: url(../img/news-rightbc.png);
    width: 752px;
    max-width: 100%;
    height: 359px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

}
.news__main-content-rightinfo{
    border: 1px solid #C9A945;
    position: absolute;
    top: 10px;
    left: 31px;
    z-index: 111111;
    width: 721px;
    height: 580px;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 16px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.news__main-content-title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    padding-top: 16px;
    padding-left: 15px;
    margin-top: 350px;
    width: 100%;
	font-size: 15px;
line-height: 14px;
/* identical to box height */


color: #484848;
}
.news__main-content-title--black {
	font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
padding-left: 15px;
padding-bottom: 5px;
color: #200E32;
}
.news__main-content-text {
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
padding-bottom: 15px;
padding-right: 15px;
padding-left: 15px;
/* or 17px */

letter-spacing: 0.03em;
padding-bottom: 45px;
line-height: 140%;
/* or 17px */

letter-spacing: 0.03em;

color: #200E32;


}
.news-bc{
	width: 528px;
	min-height: 247px;
		background-repeat:no-repeat;
		border-radius: 4px;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		padding-left: 15px;
		position: relative;


}
.news__main-content-left-top{

	background: url('../img/news-right-bc.png');

}
 .bordered1{
    border: 1px solid #C9A945;
    position: absolute;
    top: 40px;
    left: 31px;
    z-index: 111111;
    width: 498px;
    height: 268px;
    max-width: 100%;
    margin-left: 16px;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
    flex-wrap: wrap;
}
.title-bordered{
	margin-top: 0px;
	padding-top: 208px;
	font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
/* identical to box height */


color: #484848;
}
.news__main-content-left-bottom{
	margin-top: 122px;
	background: url('../img/news-bc-2.png');
}
.left-title{
	width: 100%;
}
.bordered2{
	    border: 1px solid #C9A945;
    position: absolute;
    top: 40px;
    left: 31px;
    z-index: 111111;
    width: 498px;
    height: 268px;
    max-width: 100%;
    margin-left: 16px;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
    flex-wrap: wrap

}
.circus-info {
background: #F8F9FA;
	padding-top: 101px;

    overflow-x: hidden;

}

.circus-info__inner {
}
.circus-info__top {
}
.circus-info__top-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.circus-info__top-item {
	display: flex;
	align-items: center;
	padding: 53px 53px;
	background:#fff;
	width: 620px;
height: 156px;
margin-right: 35px;
margin-bottom: 65px;
border:1px solid #C9A945;
position: relative;

}

.circus-info__item-bc1{
    position: absolute;
    top: -50px;
    right: 152px
}
.circus-info__item-bc2{
	    position: absolute;
    top: -71px;
    right: -40px;
}
.circus-info__item-bc3{
	    position: absolute;
    bottom: -89px;
    left: 117px;
}
.circus-info__item-bc4{
	    position: absolute;
    bottom: -69px;
    left: 187px;
}

.circus-info__item-leftimg {
}
.circus-info__top-item-h3 {
	margin-left: 23px;
	font-family: Noto Sans;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #200E32;
}
.circus-info__top-item-h3 a{
color: #200E32;
font-size: 26px;
}
.circus-info__item-rightimg {
	margin-left: auto;
}
.circus-info__bottom {
	margin-top: 150px;
}
.circus-info__bottom-h3 {
	    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.03em;

color: #200E32;

}
.circus-info__bottom-p {
	margin-top: 18px;
	font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 20px */

letter-spacing: 0.1em;

color: #484848;
max-width: 664px;
margin-bottom: 120px;
}
.circus-info__bottom-img {
	position: relative;
}
.circus-sochi{
position: absolute;
    background: #FFFFFF;
    bottom: 20%;
    left: 18%;
    width: 181px;
    height: 83px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
}
.circus-sochi-p{
	font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #200E32;


}
.circus-sochi-link{
	margin-top: 6px;
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #CD373A;
}
.threitem{
	margin-right: 0px;
}
.footer{
	margin-top: 155px;
}
footer{

background: #D7DDE3;
}
.footer__top {
	padding: 40px 0px;
}
.footet__top-items {
	display: flex;
	justify-content: space-between;
}
.footer__top-item {
}
.footer-item__ul {
}
.footer-item__li {
	margin-bottom: 15px;
}
.footer-item__li-link {
	font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
line-height: 16px;

color: #282828;
}
.link--white {
	font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 32px;

color: #282828;
}
.footer__top-item-adress {
	margin-bottom: 18px;
	font-size: 16px;
}
.footer__top-teletail-left {
	font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;

/* identical to box height */


color: rgba(255, 255, 255, 0.4);
}
.footer__top-teletails{
	display: flex;
	justify-content: space-between;
}
.teletail-p__top-silver {

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* identical to box height */



color: rgba(47, 47, 47, 0.4);
}
.footer__top-teletail-right {
}
.footer__top-item-email {
	font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #282828;
margin-top: 16px;
}
.teletail-p__top{
	font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #282828;

}
.footer__top-item-button {
	display: flex;
border:1px solid  #282828;
border-radius: 5px;
font-family: Noto Sans;
padding: 8px;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
margin-top: 28px;

color: #282828;
}
.footer__top-item-button-img{
margin-right: 4px;
margin-left: auto;
}
.footer__bottom {
	background: #121212;
	padding: 15px 0px;
}
.footer__bottom-inner{
	display: flex;
	align-items: center;
}
.footer__bottom-links{
	margin-left: auto;

}
.footer__bottom-link{
	margin-left: 80px;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: right;

/* 4 */

color: #C9A945;
}
.hidden-header{
	display: none;
}
.hidden-header{
	display: none;
}
.header__logo{
	display: inline-block;
}
.header__logo2{
	display: none;
}
.hidden-header__menu-link{
	display: block;
}
.hidden-header__menu{
	padding: 15px 30px;
}
.hidden-header__menu-link{
	margin-bottom: 20px;
}
.hidden-header__menu{
	display: none;
}
.visible{
	display: block;
}
.news__main-content-rightinfo{
	overflow-y: hidden;
}
.respimg{
	max-width: 100%;
}
.fix-item{
	min-width: 190px;
}
.posabs1{
top: 58%;
    left: 16%;
	position: absolute;
}
.posabs2{
top: 48%;
    left: 26%;
    position: absolute;
}
.posabs3{
top: 58%;
    left: 6%;
    position: absolute;
}
.posabs4{
top: 58%;
    left: 46%;
    position: absolute;
}
.posabs5{
top: 28%;
    left: 46%;
    position: absolute;
}
.posabs6{
    top: 25%;
    right: 66%;
    position: absolute;
}
.posabs7{
top: 25%;
    right: 36%;
    position: absolute;
}
.posabs8{
    top: 34%;
    right: 64%;
    position: absolute;
}
.posabs9{
top: 55%;
    right: 26%;
    position: absolute;
}
.bc-left{

}
.btn__buy-tickets{
	display: inline-flex;
	align-items: center;
	position: fixed;
	right: 15%;
	padding: 16px;
	width: 140px;
	height: 72px;
	top: 80%;
	cursor: pointer;
	background: #FFD600;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
border-radius: 16px;
	font-family: 'Montserrat';
	font-weight: 700;
	line-height: 19.5px;
	transition: all  .2s;
	z-index: 9999999999;
}
.btn__buy-tickets:hover{
	background: #FFB800;
	box-shadow: none;
}
.btn-img__item{
	transition: all .2s;
	min-height: 15px;
	min-width: 15px;
	background:url('../img/Star-btn.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.btn__buy-tickets:hover .btn-img__item{
	background: url('../img/arrowR-btn.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 12px;
}